<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos Usuario</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <ul>
        <li><a href="/cookiesSesion/loginNombre">Iniciar Sesión</a></li>
        <li><a href="/cookiesSesion/datosUsuario">Paso 1</a></li>
        <li><a href="/cookiesSesion/datosPersonales">Paso 2</a></li>
        <li><a href="/cookiesSesion/datosProfesionales">Paso 3</a></li>
        <li><a href="/cookiesSesion/finalDatos">Paso 4</a></li>
    </ul>
    <h1>Paso 1</h1>
    <form th:action="entraDatosUsuario" method="post" th:object="${usuario}">
        <fieldset>
            <legend>Datos del Usuario</legend>
            <label for="nombre">Nombre</label>
            <input type="text" th:field="*{nombre}"/>
            <div th:errors="*{nombre}" class="error"/>
            <br/>
            <br/>
            <label for="clave">Clave</label>
            <input type="password" th:field="*{clave}"/>
            <div th:errors="*{clave}" class="error"/>
            <br/>
            <br/>
            <label for="confirmarClave">Confirmar clave</label>
            <input type="password" th:field="*{confirmarClave}"/>
            <div th:errors="*{confirmarClave}" class="error"/>
            <div th:if="${#fields.hasErrors('global')}">
                <span th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"/>
            </div>
            <br/>
            <input type="submit" value="Grabar información e ir al paso 2 - Datos Personales">
        </fieldset>
    </form>
</body>
</html>